{
	"github_client_id":"PUT-IT-HERE",
	"github_client_secret":"PUT-IT-HERE",
	"baseUrl":"https://CHANGE-TO-YOUR-APP-NAME.herokuapp.com",
	"salt":"FILL-WITH-RANDOM-CHARS",

	"spring.data.mongodb.database":"fill-in-database-name",
	"spring.data.mongodb.host":"fill-in-host",
	"spring.data.mongodb.password":"fill-in-password",
	"spring.data.mongodb.port":"fill-in-port",
	"spring.data.mongodb.username":"fill-in-username"
}
