.new-post {
	margin-left: 15px;
	width: 650px;
	background-color: #eee;
	border-radius: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 1px;
	padding-bottom: 8px;
}

.new-post .input-field {
	width: 100%;
	border-style: double;
	padding: 3px;
	border-radius: 3px;
}

.new-post p {
	color: #333;
	margin-left: 10px;
	margin-bottom: 0px;
	margin-top: 7px;
}

.new-post .button {
	border-radius: 5px;
	background-color:#ff7272;
	width: 80px;
	height: 30px;
	margin-right: 20px;
	margin-top: 15px;
}
